@model RedPetroleum.Models.Entities.Department

@{
    ViewBag.Title = "Редактирование";
}

<h2>Редактирование отдела</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.DepartmentId)

    <div class="form-group">
        <label class="control-label col-md-2">Наименование отдела</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @required = "required"} })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            <h6 class="text-danger">@ViewBag.Message</h6>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ParentId, "Управляющий отдел", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ParentId", null, "Убрать управляющий отдел", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="btn-group" role="group">
            <button type="submit" class="btn btn-success"><i class="fa fa-save" aria-hidden="true" title="Сохранить" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Сохранить</span></i></button>
            <a href="@Url.Action("Index", "Departments")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
        </div>
    </div>
</div>
}
