@model IEnumerable<RedPetroleum.Models.Entities.Department>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@{
    ViewBag.Title = "Отделы";
}

<h2>Отделы</h2>

<p>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Departments")'">
        <i class="fa fa-plus"></i>
        Добавить отдел
    </button>
</p>
@using (Html.BeginForm("Index", "Departments", FormMethod.Get))
{

    @Html.AntiForgeryToken()
    <!-- Search  -->
    <div class="row">
        <div class="col-md-11 search-div">
            <input type="text" id="searching" name="searching" class="form-control search" placeholder="Введите наименование отдела" onchange="form.submit();"
                   style="border: 1px solid; border-color: #008cba;" />
        </div>
        <div class="col-md-1 search-div-btn">
            <button type="submit" class="btn btn-default default-btn">
                <i class="fa fa-search"></i>
                Поиск
            </button>

        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Отдел
        </th>
        <th>
            Управляющий отдел
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Departments.Name)
            </td>
            <td style="text-align:right;">
                <div class="btn-group" role="group">
                    <a class="btn btn-info" name="editButton" id="editButton" href="@Url.Action("Edit", "Departments", new { id = item.DepartmentId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Редактировать</span></i></a>
                    <a class="btn btn-warning" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Departments", new { id = item.DepartmentId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Просмотреть</span></i></a>
                    <a class="btn btn-danger" name="deleteButton" id="deleteButton" href="@Url.Action("Delete", "Departments", new { id = item.DepartmentId})"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Удалить</span></i></a>
                </div>
            </td>
        </tr>
    }

</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.Default)
