@model RedPetroleum.Models.Entities.TaskMark

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TaskMark</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mark.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mark.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskList.TaskName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskList.TaskName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarkValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarkValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
