@*@model IEnumerable<RedPetroleum.Models.Entities.Employee>*@
@model List<RedPetroleum.Models.ReportByCompanyViewModel>
@{
    ViewBag.Title = "Главная";
    int i = 1;
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <label for="taskDate">Выберите месяц</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" id="taskDate" type="month" name="taskDate" value="@ViewBag.Today" onchange="updateEmployeeTable()">
        </div>
    </div>
    <br />
    @Html.DropDownList("Departments", null, "Выберите отдел...", htmlAttributes: new { @class = "form-control", @id = "departmentsDropdown", @onChange = "updateEmployeeTable();" })

    <table class="table table-striped">
        <thead>
            <tr>
                <th colspan="5" class="text-center" id="dt">
                    ОЦЕНКА ЭФФЕКТИВНОСТИ ПЕРСОНАЛА - @DateTime.Now.ToString("MMMM yyyy г.")
                </th>

            </tr>
            <tr>
                <th colspan="5" class="text-center" id="nameDep">
                    <p id="DepartmentName">Выберите отдел...</p>
                </th>
            </tr>
        </thead>
        <thead>
            <tr>
                <th class="w-10 text-center">№</th>
                <th class="w-25 text-center">Ф.И.О</th>
                <th class="w-25 text-center">Должность</th>
                <th class="text-center">Средний показатель</th>
                <th class="text-center">Подпись</th>
            </tr>
        </thead>
        <tbody id="tableContent">
            @if (Model != null)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center">@(i++)</td>
                        <td>@item.EmployeeName</td>
                        <td>@item.Position</td>
                        <td class="text-center">@item.AverageMark</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    @Html.AntiForgeryToken()
    <button type="button" id="downloadBtn" disabled class="btn btn-success" onclick="downloadReport('ReportByDepartment')">Скачать отчет</button>

</div>
<script src="~/Scripts/app.js"></script>