<tr class="createdTask" id="@ViewBag.Task.TaskListId">
    <td>
        @ViewBag.Task.TaskName
    </td>
    <td>
        @ViewBag.Task.TaskDuration
    </td>
    <td>
        @ViewBag.EmployeeName
    </td>
    <td>
        <button type="button" class="btn btn-danger removeTask" onclick="removeTask('@ViewBag.Task.TaskListId')" title="Удалить"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </td>
</tr>