@model RedPetroleum.Models.Entities.TaskList

@{
    ViewBag.Title = "Задачи";
}

<h2>Добавление задач</h2>

@Html.AntiForgeryToken()

<div class="form-horizontal">
    <h4>Добавьте задачи</h4>
    <hr />
    <div class="row">
        <div class="col-md-3">
            <label for="employee">Выберите сотрудника</label>
        </div>
        <div class="col-md-3">
            @Html.DropDownList("EmployeeId", null, htmlAttributes: new { @class = "form-control", @id = "employeesDropdown" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label for="taskDate">Выберите месяц</label>
        </div>
        <div class="col-md-3">
            <input class="form-control" id="taskDate" type="month" name="taskDate" value="@ViewBag.Today">
        </div>
    </div>
    <hr />

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Задача</th>
                <th>Продолжительность</th>
                <th>Назначен</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody id="taskList">
            <span class="text-center" id="emptyTaskList"><b><i>Добавьте задачу</i></b></span>
        </tbody>
    </table>
    <div id="createArea">

    </div>
</div>

<hr />
<button type="button" class="btn btn-info col-md-12" onclick="addTask()"><span class="oi oi-plus" aria-hidden="true"></span> Добавить задачу</button>

<br /><br />
<div>
    @Html.ActionLink("Назад", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/app.js")

    <script>
        saveOnEnter();
    </script>
}
