@model IEnumerable<RedPetroleum.Models.Entities.TaskList>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4
@{
    ViewBag.Title = "Задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Задачи ГД</h2>
<p>
    <a href="/TaskLists/CreateDepartmentTask@(ViewBag.SelectedDate != null ? "?taskDate="+ViewBag.SelectedDate : null)" id="addTaskBtn" class="btn btn-primary" type="button">
        <i class="fa fa-plus"></i> Добавить задачу
    </a>
</p>
@using (Html.BeginForm("DepartmentTasks", "TaskLists", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-11 search-div">
            <input type="text" id="searching" name="searching" class="form-control search" placeholder="Введите наименование задачи" onchange="form.submit();"
                   style="border: 1px solid; border-color: #008cba;" />
        </div>
        <div class="col-md-1 search-div-btn">

            <button type="submit" class="btn btn-default default-btn">
                <i class="fa fa-search"></i>
                Поиск
            </button>


        </div>
    </div>
}
<hr />
@using (Html.BeginForm("GetFilteredDepartmentTaskList", "TaskLists", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-1">Фильтры</div>
        <div class="col-md-4">
            @if (ViewBag.DepartmentId != null && ViewBag.DepartmentId is SelectList)
            {
                @Html.DropDownList("DepartmentId", ViewBag.DepartmentId as SelectList, "Выберите отдел", htmlAttributes: new { @class = "form-control", @id = "departmentsDropdown" })
            }
            else
            {
                <select class="form-control" id="departmentsDropdown" name="DepartmentId">
                    <option value="@ViewBag.Department.DepartmentId">@ViewBag.Department.Name</option>
                </select>
            }
        </div>
        <div class="col-md-4">
            <input class="form-control" id="taskDate" type="month" name="TaskDate" @(ViewBag.SelectedDate != null ? "value=" + ViewBag.SelectedDate : null) onchange="updateAddTaskUrl(true)">
        </div>
        <div class="col-md-3">
            <button type="submit" id="FilterBtn" class="btn btn-default">Показать</button>
            <a href="@Url.Action("DepartmentTasks", "TaskLists")" id="resetFilter" class="btn btn-default">Сбросить</a>
        </div>
    </div>
}
<hr />
<table class="table table-striped">
    <thead>
        <tr>
            <th>Отдел</th>
            <th>Задача</th>
            <th>Длительность</th>
            <th>Дата задачи</th>
            <th>Комментарии(?)</th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableContent">
        @foreach (var item in Model)
        {
            var myModal = "myModal" + item.TaskListId;
            <tr id="comment_@item.TaskListId" class="task-row">
                <td><b>@Html.DisplayFor(modelItem => item.Department.Name)</b></td>
                <td><b>@Html.DisplayFor(modelItem => item.TaskName)</b></td>
                <td><b>@Html.DisplayFor(motelItem => item.TaskDuration)</b></td>
                <td><b>@(((DateTime)item.TaskDate).ToString("MM.yyyy"))</b></td>
                <td style="text-align:right;">
                    <div class="btn-group" role="group">
                        <a class="btn btn-info" name="editButton" id="editButton" href="@Url.Action("EditDepartmentTask", "TaskLists", new { id = item.TaskListId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                        <a class="btn btn-warning" name="detailsButton" id="detailsButton" href="@Url.Action("DepartmentTaskDetails", "TaskLists", new { id = item.TaskListId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                        <a a class="btn btn-danger" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","TaskLists", new {id = item.TaskListId})" data-toggle="modal" data-target="#@myModal"
                           data-whatever="@item.TaskListId"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>
                    </div>
                    <!-- Confirmation modal -->
                    <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="confirmdelete" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmdelete">Удаление</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Вы действительно хотите удалить: <span><b>@item.TaskName</b></span>
                                </div>
                                @using (Html.BeginForm("Delete", "TaskLists", FormMethod.Post, new { enctype = "multipart/form-data", @class = "delete-form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <input type="hidden" name="id" value="@item.TaskListId" />
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                        <input type="submit" value="Удалить" class="btn btn-danger" />
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr id="@item.TaskListId">
                <td class="mark-field">
                    <input type="text" class="form-control AverageMark" name="AverageMark" value="@item.AverageMark" />
                    <small class="form-text text-muted">Оценка</small>
                </td>
                <td class="comment-field" data-taskid="@item.TaskListId" colspan="3">@Html.DisplayFor(modelItem => item.CommentEmployees)</td>
                <td style="text-align:right;">
                    <span class="submit-button"><button type="button" class="btn btn-primary" onclick="taskComment('@item.TaskListId', true)">Комментарий</button></span>
                    <button id="saveMarks" class="btn btn-success" type="button" onclick="rateDepartmentTask('@item.TaskListId')">Оценить</button>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal fade bd-example-modal-sm" id="onSuccessModal" tabindex="-1" role="dialog" aria-labelledby="successMessage" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successMessage">Оценка сохранена!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
@if (!(Model.Count() <= 0))
{
    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.Default)
}

<script src="~/Scripts/app.js"></script>
<script>
    submitCommentOnEnter(true)
    submitMarkOnEnter()
</script>