@model IEnumerable<RedPetroleum.Models.Entities.TaskList>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4

@{
    ViewBag.Title = "Задачи";
}

<h2>Список задач</h2>

<p>
    <a type="button" class="btn btn-primary" href="@Url.Action("Create", "TaskLists")">
        <i class="fa fa-plus"></i>
        Добавить задачу
    </a>
</p>
@using (Html.BeginForm("Index", "TaskLists", FormMethod.Get))
{

    @Html.AntiForgeryToken()
    <!-- Search  -->
    <div class="row">
        <div class="col-md-11 search-div">
            <input type="text" id="searching" name="searching" class="form-control search" placeholder="Введите наименование задачи" onchange="form.submit();"
                   style="border: 1px solid; border-color: #008cba;" />
        </div>
        <div class="col-md-1 search-div-btn">
            <button type="submit" class="btn btn-default default-btn">
                <i class="fa fa-search"></i>
                Поиск
            </button>

        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            ФИО Сотрудника
        </th>
        <th>
            Задача
        </th>
        <th>
            Длительность
        </th>
        <th>
            Дата задачи
        </th>
        <th>
            Комментарии сотрудника(?)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.EFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaskDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentEmployees)
            </td>
            <td style="text-align:right;">
                <div class="btn-group" role="group">
                    <a class="btn btn-info" name="editButton" id="editButton" href="@Url.Action("Edit", "TaskLists", new { id = item.TaskListId})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"></i></a>
                    <a class="btn btn-warning" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "TaskLists", new { id = item.TaskListId})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"></i></a>
                    <a class="btn btn-danger" name="deleteButton" id="deleteButton" href="@Url.Action("Delete", "TaskLists", new { id = item.TaskListId})"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"></i></a>
                </div>
            </td>
        </tr>

    }

</table>

    @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.Default)
