<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <title>RedPetroleum</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap.css")" media="screen">
    <link rel="stylesheet" href="@Url.Content("~/Content/custom.min.css")">

    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css")">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="@Url.Content("~/Content/open-iconic/font/css/open-iconic-bootstrap.css")" />

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
<body>
    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("RedPetroleum", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            }
            else
            {
                <p class = "navbar-brand">RedPetroleum</p>
            }
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav mr-auto">
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item active"><a class="nav-link" href="@Url.Action("Index", "Roles")">Роли</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Departments")">Отделы</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Positions")">Должности</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("Index", "Employees")">Сотрудники</a></li>
                        <li class="nav-item"><a class="nav-link" href="@Url.Action("UserList", "Account")">Пользователи</a></li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Задачи</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Index", "TaskLists")">Задачи для сотрудников</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("DepartmentTasks", "TaskLists")">Задачи ГД</a>
                            </div>
                        </li>
                       
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Отчеты</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("ReportByCompany", "Reports")">Отчет по компании</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByDepartment", "Reports")">Отчет по отделам</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByDepartmentAverageMark", "Reports")">Отчет средних показателей по отделам</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByConsolidated", "Reports")">Отчет консолидированный</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByInstructionsDG", "Reports")">Отчет по задачам ГД</a>
                            </div>
                        </li>
                    }
                    else if (User.IsInRole("manager"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Задачи</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Index", "TaskLists")">Задачи для сотрудников</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("DepartmentTasks", "TaskLists")">Задачи ГД</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Отчеты</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("ReportByCompany", "Reports")">Отчет по компании</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByDepartment", "Reports")">Отчет по отделам</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByDepartmentAverageMark", "Reports")">Отчет средних показателей по отделам</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByConsolidated", "Reports")">Отчет консолидированный</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("ReportByInstructionsDG", "Reports")">Отчет по задачам ГД</a>
                            </div>
                        </li>
                    }
                    else if (User.IsInRole("employee"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Задачи</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="@Url.Action("Index", "TaskLists")">Задачи для сотрудников</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="@Url.Action("DepartmentTasks", "TaskLists")">Задачи ГД</a>
                            </div>
                        </li>
                    }
                    else
                    {

                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

</body>
</html>
