@model RedPetroleum.Models.Entities.Employee

@{
    ViewBag.Title = "Удаление";
}

<h3>Вы действительно хотите удалить сотрудника?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Department.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Department.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EFullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EFullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateBorn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateBorn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dismissed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dismissed)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Удалить" class="btn btn-danger" /> |
        <a href="@Url.Action("Index", "Employees")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
    </div>
    }
</div>
