@model IEnumerable<RedPetroleum.Models.Entities.Employee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm("Index", "Employees", FormMethod.Get))
{

    @Html.AntiForgeryToken()
    <!-- Search  -->
    <div class="col-md-11 search-div" style="margin-bottom: 2%;">
        <input type="text" id="searching" name="searching" class="form-control search" placeholder="Введите наименование компании" onchange="form.submit();"
               style="border: 1px solid; border-color: #eb5e28;" />
    </div>
    <div class="col-md-1 search-div">
        <button type="submit" class="btn btn-default default-btn">
            <i class="fa fa-search"></i>
            Поиск
        </button>

    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Department.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Position.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EFullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateBorn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dismissed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EFullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateBorn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dismissed)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.EmployeeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
            </td>
        </tr>
    }

</table>
