@model Microsoft.AspNet.Identity.EntityFramework.IdentityUser
@{
    ViewBag.Title = "Подробно";
}

<h2>Подробная информация</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Имя пользователя
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles.SingleOrDefault().RoleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Roles.SingleOrDefault().RoleId)
        </dd>

    </dl>
</div>
<div class="form-group">
    <div class="btn-group" role="group">
        <a href="@Url.Action("Edit", "Account", new { id = Model.Id})" class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Редактировать</span></i></a>
        <a href="@Url.Action("UserList", "Account")" class="btn btn-info"><i class="fa fa-arrow-left" aria-hidden="true" title="Назад" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Назад</span></i></a>
    </div>
</div>
