@model IEnumerable<RedPetroleum.Models.ApplicationUser>
@using X.PagedList
@using X.PagedList.Mvc
@using X.PagedList.Mvc.Bootstrap4

@{
    ViewBag.Title = "Пользователи";
}

<h2>Пользователи</h2>

<p>
    <a type="button" class="btn btn-primary" href="@Url.Action("Register", "Account")">
        <i class="fa fa-plus"></i>
        Зарегистрировать пользователя
    </a>
</p>
@using (Html.BeginForm("UserList", "Account", FormMethod.Get))
{

    @Html.AntiForgeryToken()
    <!-- Search  -->
    <div class="row">
        <div class="col-md-11 search-div">
            <input type="text" id="searching" name="searching" class="form-control search" placeholder="Введите имя пользователя" onchange="form.submit();"
                   style="border: 1px solid; border-color: #008cba;" />
        </div>
        <div class="col-md-1 search-div-btn">
            <button type="submit" class="btn btn-default default-btn">
                <i class="fa fa-search"></i>
                Поиск
            </button>

        </div>
    </div>
}
<table class="table">
    <tr>
        <th>
            Имя пользователя
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        var myModal = "myModal" + item.Id;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td style="text-align:right;">
                <div class="btn-group" role="group">
                    <a class="btn btn-info" name="editButton" id="editButton" href="@Url.Action("Edit", "Account", new { id = item.Id})"><i class="fa fa-pencil" aria-hidden="true" title="Редактировать" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Редактировать</span></i></a>
                    <a class="btn btn-warning" name="detailsButton" id="detailsButton" href="@Url.Action("Details", "Account", new { id = item.Id})"><i class="fa fa-eye" aria-hidden="true" title="Просмотреть" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Просмотреть</span></i></a>
                    <a a class="btn btn-danger" name="deleteButton" id="deleteButton" href="@Url.Action("Delete","Account", new {id = item.Id})" data-toggle="modal" data-target="#@myModal"
                       data-whatever="@item.Id"><i class="fa fa-trash" aria-hidden="true" title="Удалить" data-toggle="tooltip" data-placement="top"><span style="padding: 5px;">Удалить</span></i></a>
                </div>
                <!-- Confirmation modal -->
                <div class="modal fade" id="@myModal" tabindex="-1" role="dialog" aria-labelledby="confirmdelete" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="confirmdelete">Action Confirmation</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы точно хотите удалить: <span><b>@item.UserName</b></span>
                            </div>
                            @using (Html.BeginForm("Delete", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "delete-form" }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" name="id" value="@item.Id" />
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
                                    <input type="submit" value="Удалить" class="btn btn-danger" />
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    }
</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("UserList", new { page }), Bootstrap4PagedListRenderOptions.Default)
